
/*vieOrder*/
/* OrderTable.css */

/* Table styles */
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

/* Header styles */
th {
  background-color: #f0f0f0;
  color: #333;
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
}

/* Data cell styles */
td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
}

/* Alternate row colors */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #ccc;
}

/* Remove border from last row */
tr:last-child {
  border-bottom: none;
}

/* Add some space between rows */
tr {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

/* Make the table responsive */
@media only screen and (max-width: 768px) {
  table {
    font-size: 14px;
  }
  th, td {
    padding: 10px;
  }
}

/*dashboard*/
/* AdminDashboard.css */

.admindashboard {
  background-color:darkkhaki ; 
  margin-bottom: 600px;/* light gray background */
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  background-color: blue; /* dark gray background */
  color: #fff; /* white text */
  padding: 10px;
  text-align: center;
  height: 55px;
}

.header h1 {
  color: #fff; /* white text */
  font-size: 24px;
  margin: 0;
}

.main-content {
  display: flex;
  flex-direction: row;
  background-color:none;
}

.sidebar {
  width: 200px;
  background-color: wheat; /* light gray background */
  padding: 20px;
  border-right: 1px solid #ddd;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: #333;
  text-decoration: none;
}

.sidebar a:hover {
  color: #666;
}

.content {
  flex: 1;
  padding: 20px;
}

CustomerDashboard
.customerdashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: darkkhaki; /* light gray background */
}

.header {
  background-color: rgb(51, 51, 51)
  333; /* dark gray background */
  color: #fff; /* white text */
  padding: 10px;
  text-align: center;
  margin-bottom: 20px; /* add some space between header and main content */
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* add some space between sidebar and content */
}

.sidebar {
  background-color: #f0f0f0; /* light gray background */
  padding: 20px;
  width: 200px;
  margin-right: 20px; /* add some space between sidebar and content */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color:blue;
  font-size: 20px; 
/* blue text */
}

.sidebar a:hover {
  color: #23527c; /* darker blue on hover */
}

.content {
  padding: 20px;
  flex: 1;
}

.route {
  padding: 20px;
  margin-bottom: 20px; /* add some space between routes */
}

.route h1 {
  margin-top: 0;
}

.route p {
  margin-bottom: 20px;
}



/*addmenuitems.css*/

.add-menu-item {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: lightseagreen;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-menu-item h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  height: 100px;
  resize: vertical;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}




/*menuitem.css*/
.menu-items-table {
  border-collapse: collapse;
  width: 100%;
}

.menu-items-table th, .menu-items-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.menu-items-table th {
  background-color: #f0f0f0;
}

.menu-items-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.delete-btn {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #cc0000;
}

.update-btn {
  background-color: #008000;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.update-btn:hover {
  background-color: #006600;
}


/*orderform.css*/
.order-form {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-form label {
  display: block;
  margin-bottom: 10px;
}

.order-form input[type="text"], .view-order-form input[type="number"], .view-order-form input[type="date"], .view-order-form input[type="time"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.order-form button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.order-form button[type="submit"]:hover {
  background-color: #3e8e41;
}




  /* Login.css */

.container {
  max-width: 300px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
  font-weight: bold;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

input[type="text"], input[type="password"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

select {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
}

.registration-link {
  font-size: 14px;
  color: #337ab7;
  text-decoration: none;
}

.registration-link:hover {
  color: #23527c;
}

/* Login.css */

.container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color:wheat;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
  font-weight: bold;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
} */

/* Registration.css */

.registration-form {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form h2 {
  margin-top: 0;
  font-weight: bold;
  color: #333;
}

.registration-form .form-group {
  margin-bottom: 20px;
}

.registration-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.registration-form input[type="text"], .registration-form input[type="email"], .registration-form input[type="password"], .registration-form input[type="tel"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.registration-form input[type="submit"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.registration-form input[type="submit"]:hover {
  background-color: #3e8e41;
}



/*contact.css*/
.contact-us {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-us h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.contact-us .form-group {
  margin-bottom: 15px;
}

.contact-us label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.contact-us input[type="text"],
.contact-us input[type="email"],
.contact-us textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
}

.contact-us textarea {
  resize: vertical;
}

.contact-us button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.contact-us button:hover {
  background-color: #45a049;
}
/*About.css*/
.about-us {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-us h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

.about-us p {
  font-size: 30px;
  color: #555;
  line-height: 2;
}

/*ContactUs.css*/
.contact-us {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-us h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.contact-info {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

.contact-info p {
  margin-bottom: 10px;
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

/*Home.css*/
.home.content {
  text-align: center;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.big-image {
  width: 400px; /* adjust the width and height to your liking */
  height: 300px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.small-image {
  width: 150px; /* adjust the width and height to your liking */
  height: 100px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/*LOGOUT.CSS*/
/* LogOut.css */

.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
}

.logout-button {
  background-color: #ff4b5c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #ff6b7c;
}


/*MenuItemList.css*/
.MenuItemsList {
  font-family: Arial, sans-serif;
  text-align: center;
}

.MenuItemsList h1 {
  color: #333;
  margin-bottom: 20px;
}

.MenuItemsList table {
  width: 100%;
  border-collapse: collapse;
}

.MenuItemsList th, .MenuItemsList td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.MenuItemsList th {
  background-color: #f0f0f0;
}

.MenuItemsList td input[type="number"] {
  width: 50px;
  height: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.MenuItemsList td input[type="number"]:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* update */

.update-menu-item {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.update-menu-item h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  height: 100px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}


/* oder upate */

.order-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.order-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.order-form label {
  display: block;
  margin-bottom: 10px;
}

.order-form input[type='text'],
.order-form input[type='number'],
.order-form input[type='date'],
.order-form input[type='time'] {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.order-form .submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.order-form .submit-button:hover {
  background-color: #45a049;
}


